body {
    background-color: cyan;
}

.button {
    box-shadow: 0px 0px 0px 0px #1c1b18;
    background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 32px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    display: inline-block;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

    .button:hover {
        background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        background-color: #ccc2a6;
    }

    .button:active {
        position: relative;
        top: 1px;
    }
#Logo{
    position:fixed;
    margin-top: 5%;
    margin-left: 5%;
}
#indexBtns{
    position: absolute;
    margin: 10%;
}
#encTxt{
position: absolute;
margin-top: 5%;
margin-left: 10%;
font-size:medium;
}
#back{
    position: fixed;
    margin-top: 5%;
    margin-left: 95%;
}