body {
    background-color: #fff2e9;
    font-family: 'Alice', serif;
    font-size: 16px;
}

.button {
    box-shadow: 0px 0px 0px 0px #1c1b18;
    background: linear-gradient(to bottom, #ffddf0 5%, #eae0c2 100%);
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #333029;
    cursor: pointer;
    color: #505739;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 700;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 80px;
    line-height: 80px;
}

    .button:hover {
        background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        background-color: #ccc2a6;
    }

    .button:active {
        position: relative;
        top: 1px;
    }
#back{
    position: fixed;
    margin-left: 70%;
    margin-top: 3%
}
#logo{
    position: fixed;
    margin-left: 0%;
}
#map{
    display: block;
    position: center;
}

#btnencuentros {
    margin-top: 30%;
}

#btnalbergues {
    margin-top: 20%;
}

#btncuidados {
    margin-top: 20%;
}