body {
    background-color: #fff2e9;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
}
h1 {

    font-family: 'Jost', sans-serif;
    text-align: left;
    color: #505739;
    font-size: 32px;
}

h2 {
    text-align: left;
    color: #505739;
}

h3 {
    text-align: left;
    color: #505739;
}
.appname {
    font-family: 'Jost', sans-serif;
    margin-top: 6%;
    margin-left: 22%;
    position: absolute;
}
.content{
    
}

.button {
    box-shadow: 0px 0px 0px 0px #1c1b18;
    background: linear-gradient(to bottom, #ffddf0 5%, #eae0c2 100%);
    background-color: #eae0c2;
    border-radius: 15px;
    border: 2px solid #505739;
    cursor: pointer;
    color: #505739;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

    .button:hover {
        background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        background-color: #ccc2a6;
    }

    .button:active {
        position: relative;
        top: 1px;
    }

.headerlogo {
    display: flex;
    position: fixed;
    margin-top: 0%;

}

#back{
    position: fixed;
    margin-left: 60%;
    margin-top: 3%;
    background-color: #fff2e9;  
}
#logo{
    position: fixed;
    margin-top: -1%;
    margin-left: -6%;
    background-color: #fff2e9;
    background-size:contain;
}
#logoimgstatic{
    position: fixed;
}
#map{
    display: block;
    position: center;
}

#btnencuentros {
    margin-top: 10%;
}

#btnalbergues {
    margin-top: 30%;
}

#btncuidados {
    margin-top: 30%;
}
.google-map{
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .google-map{
        padding-bottom: 50%;
        margin-left: -10%;
        position: relative;
    }
    
    .google-map iframe{
        height: 50%;
        width: 50%;
        left: 0;
        top: 0;
        position: absolute;
    }  
    
    #back{
        position: fixed;
        margin-left: 10%;
        margin-top: 3%;
        background-color: #fff2e9;  
    }
    #logo{
        position: fixed;
        margin-top: -1%;
        margin-left: -6%;
        background-color: #fff2e9;
        background-size:contain;
    }

    .tabletBtn{
            margin-right: 10%;;
    } 

    h1 {
    font-family: 'Jost', sans-serif;
    text-align: left;
    color: #505739;
    font-size: 32px;
    margin-top: 5%;
    }

    }